* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  width: 600px;
  height: 400px;
  background-color: white;
  border: 5px solid beige;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}
.active-btn {
  background-color: white;
}
.paragraph-container {
  padding: 1rem;
}
